In [1]:
#1. In the below elements which of them are values or an expression? 
#eg:- values can be integer or string and expressions will be mathematical operators.

'''1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 

2. What is the difference between string and variable?

3. Describe three different data types.

4. What is an expression made up of? What do all expressions do?
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

8. Why is eggs a valid variable name while 100 is invalid?
9. What three functions can be used to get the integer, floating-point number, or string version of a value?
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

'''

In [3]:
# Answer for Question 1

'''* -- This is a expression and used in mathematical operation.
'hello'-- this is a value and the type of this is string.
-87.8-- this is a value and type of this is Float.
-  This is expression and used in mathematical operation.
/--This is expression and used in mathematical operation.
+-- This is expression and used in mathematical operation.
6-- this is Value and type of this value is Integer
'''

In [9]:
6*7

42

In [12]:
a= "hello"

In [13]:
type(a)

str

In [17]:
b=-87.8+8
print(type(b))

<class 'float'>

In [18]:
c=786-104
print(type(c))

<class 'int'>

In [39]:
d=10/10
e=int(d)
print(type(e))
# used typecasting to remove point 0 to convert to int from float

<class 'int'>

In [41]:
f=500+470
type(f)

int

In [42]:
g=6
type(g)

int

In [43]:
# Answer for Question 2
#2. What is the difference between string and variable?


'''String is anything that we can assign to variable by using quotes. we can use single quote, 
   double quote and triple quote also. for example if i write g= "Gangaram", then Gangaram is a string that can be stored
   in variable called g.
  and Variable can be called as an container in which we store a value. 
  for example if i write a=56, then a is a variable that has value of 56. its just like 'a' is a memory location for 56'''

'String is anything that we can assign to variable by using quotes. we can use single quote, \n   double quote and triple quote also. for example if i write g= "Gangaram", then Gangaram is a string that can be stored\n   in variable called g.\n  and Variable can be called as an container in which we store a value. \n  for example if i write a=56, then a is a variable that has value of 56. its just like \'a\' is a memory location for 56'

In [49]:
#3. Describe three different data types.
'''Data means any information we store in a variable. the information or data can be anything like Numbers, names, etc.
   this information is classified in different types to make use of the information effectively. there number of data types.
   types of data are as follows:
   
   1. String :- String is anything that we store in variable by using single quote, double quote or triple Quote. 
    anything that has character and are inside the quote can be called as string. 
    for example:
    a='I am calm and kind person'
    b="I like to learn data science"
    Here a is a variable inside we stored a string (I am calm and kind person)
    
    2. Integer :- interger is basically a numeric values and which are not inside quote. 
       for example:
       23,45,12
       a=897560
       etc. 
    
    3. Boolion :- Boolian means the data type that campares the values with each other or with any other value.
       Statement like True, False, etc are boolian. the data type that has two possible values based on some logic.
       for example- 
        5>10 -- here 5 is not greater than 10 so it will return result as 'False'
        10<20-- here 10 is lesser than 20 so it will return result as 'True'
       
   '''

'Data means any information we store in a variable. the information or data can be anything like Numbers, names, etc.\n   this information is classified in different types to make use of the information effectively. there number of data types.\n   types of data are as follows:\n   \n   1. String :- String is anything that we store in variable by using single quote, double quote or triple Quote. \n    anything that has character and are inside the quote can be called as string. \n    for example:\n    a=\'I am calm and kind person\'\n    b="I like to learn data science"\n    Here a is a variable inside we stored a string (I am calm and kind person)\n    \n    2. Integer :- interger is basically a numeric values and which are not inside quote. \n       for example:\n       23,45,12\n       a=897560\n       etc. \n    \n    3. Boolion :- Boolian means the data type that campares the values with each other or with any other value.\n       Statement like True, False, etc are boolian. the data type that has two possible values based on some logic.\n       for example- \n        5>10 -- here 5 is not greater than 10 so it will return result as \'False\'\n        10<20-- here 10 is lesser than 20 so it will return result as \'True\'\n       \n   '

In [48]:
#4. What is an expression made up of? What do all expressions do?

bool

In [50]:
#4. What is an expression made up of? What do all expressions do?
'''An expression is made up of of values, variables, operators, and calls to functions. 
   Expressions need to be evaluated. If you ask Python to print an expression, the interpreter evaluates the expression and
   displays the result.
   Expressions need to be evaluated. If you ask Python to print an expression, the interpreter evaluates the expression and displays the result.
   expressions can appear on the right hand side of assignment statements.
   A value all by itself is a simple expression, and so is a variable. Evaluating a variable gives the value that the variable refers to.'''

'An expression is made up of of values, variables, operators, and calls to functions. \n   Expressions need to be evaluated. If you ask Python to print an expression, the interpreter evaluates the expression and\n   displays the result.\n   Expressions need to be evaluated. If you ask Python to print an expression, the interpreter evaluates the expression and displays the result.\n   expressions can appear on the right hand side of assignment statements.\n   A value all by itself is a simple expression, and so is a variable. Evaluating a variable gives the value that the variable refers to.'

In [4]:
#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
spam=10
'''statement means an action or command to perform particular operation. example print statement , assignment statement. 
in above example we have assigned 10 in variable called spam. statement means we are asking python to do something

expression is a combination of variable , operation and value that yeild a result value 
the above given example is a expression '''

10

In [5]:
#6. After running the following code, what does the variable bacon contain?
#bacon = 22
#bacon + 1
bacon = 22
bacon + 1

#the variable bacon contain the value i.e. 23

23

In [ ]:
#7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [11]:
#8. Why is eggs a valid variable name while 100 is invalid?

'''The variable is a name which is used to fere memory location. variable name can be a both name and group of name and digit. 
only integer value cannot be a name for a variable. number can be used for variable name but we must add some character or _ before number'

so here egg is a string and it can be use as a name of variable. if we try to give 100 as a variable name 
then it will throw an error -cannot assign to literal'''

100=egg
100

SyntaxError: cannot assign to literal (Temp/ipykernel_4204/1667706761.py, line 9)

In [ ]:
#9. What three functions can be used to get the integer, floating-point number, or string version of a value?

we can use int(), float() and str()

In [3]:
#10. Why does this expression cause an error? How can you fix it? 'I have eaten ' + 99 + ' burritos.'
#'I have eaten ' + 99 + ' burritos.'
'''the expresion is giving error i.e., -can only concatenate str (not "int") to str
    this means in python we can use + sign as an expression to concatenate string. 
    but in the given situation 99 is an integer. so the concatenate is not possible of string and Interger together
    
    Here to solve this error we need to make 99 from integer to string by simply putting it into single or double quote
    in this way it can work'''
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'